html,
body {
  background-color: #07070d;
  color: #dcdce4;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
}
body {
  padding-top: 16px;
}
p {
  font-size: 1em;
}
strong,
.green,
a {
  color: #7ad113;
}
.keys {
  font-size: 1.1em;
}
.credits {
  font-size: 0.9em;
}
